/* Form Container */
.formBody {
  background-image: url("../../assets/images/img1.jpg");
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position-y: -120px;
  background-size: cover;
}
form {
  width: 350px;
  padding: 35px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 3px;
  z-index: 999;
}

/* Form Title */
form h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Input Group */
form div {
  margin-bottom: 15px;
}

/* Labels */
form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #555;
}

/* Inputs */
form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #bbb;
  box-sizing: border-box;
  font-size: 14px;
}

/* Error Messages */
span {
  font-size: 12px;
  color: red;
}

/* Submit Button */
form button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #0056b3;
  }
}

/* Toggle Button */
form button[type="button"] {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  padding: 0;
}

form button[type="button"]:hover {
  text-decoration: underline;
}

/* Paragraph for toggle */
form p {
  text-align: center;
  margin-top: 20px;
  color: #555;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.Container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  animation: bgAnimation 15s infinite;
  transition: background-image 1s ease-in-out;
  z-index: 0;
}

.second {
  position: absolute;
  top: 50%;
  left: 40%;
}

.second h1 {
  color: #ee9f1f;
  font-style: italic;
  font-weight: 700;
  text-shadow: 2px 2px 5px black;
}

.second h3 {
  color: white;
  text-shadow: 2px 2px 5px black;
}

@keyframes bgAnimation {
  0% {
    background-image: url("../../assets/images/shop1.jpg");
  }
  10% {
    background-image: url("../../assets/images/shop2.jpg");
  }
  25% {
    background-image: url("../../assets/images/shop3.jpg");
  }
  35% {
    background-image: url("../../assets/images/shop4.jpg");
  }
  45% {
    background-image: url("../../assets/images/shop5.jpg");
  }
  65% {
    background-image: url("../../assets/images/shop6.jpg");
  }
  75% {
    background-image: url("../../assets/images/shop7.jpg");
  }
  100% {
    background-image: url("../../assets/images/shop8.jpg");
  }
}
