.selected-item-container {
  padding: 2rem;
  /* background-color: #f9f9f9; */
  background-color: #d6dcaa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 80px;
  text-align: start;
}

.product-section h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  margin-top: 70px;
  color: #333;
  text-align: start;
}

.selected-item-container,
.product-section {
  min-width: 90%;
  margin: 0 auto;
  padding: 2rem;
}

.head-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}
.product-card {
  flex: 0 1 calc(25% - 1.5rem);
  min-width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  }
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 1rem;
  cursor: pointer;
}

.product-card h4 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: #222;
  cursor: pointer;
  text-align: start;
  &:hover {
    text-decoration: underline;
  }
}

.product-card p {
  margin: 0.3rem 0;
  font-size: 0.95rem;
  color: #555;
  text-align: start;
}

.product-card del {
  color: red;
}
.add-btn {
  background-color: #0d6efd;
  color: white;
  padding: 0.5rem 1rem;
  min-width: 80%;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin: 10px 0px 0px 10px;
  &:hover {
    background-color: #0b5ed7;
  }
}

@media Screen and (max-width: 600px) {
  .product-card {
    flex: 0 2 calc(90% - 1.5rem);
    min-width: 100%;
    margin: auto;
  }
  .product-card {
    flex: 0 0.7 calc(25% - 1.5rem);
    min-width: 300px;
    padding: 20px;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    }
  }
}
@media Screen and (max-width: 575px) {
  .product-card {
    flex: 0 calc(30% - 1.5rem);
    margin: auto;
  }
}

@media Screen and (max-width: 767px) {
  .product-card {
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .product-card {
    flex: 0 1 calc(31.5% - 1.5rem);
    min-width: auto;
    margin: 0.75rem;
  }
}
